# Static table lookup for hostnames.
# See hosts(5) for details.
{% for server in groups['all'] %}
{% if hostvars[server]['ansible_default_ipv4'].address == hostvars[server]['ansible_all_ipv4_addresses'][0] %}{{ hostvars[server]['ansible_all_ipv4_addresses'][1] }}{% else %}{{ hostvars[server]['ansible_all_ipv4_addresses'][0] }}{% endif %}     test.{{ server }}.com    {{ server }}
{% endfor %}
